<link rel="stylesheet" href="../../css/lobby-dialog.css">

<div id="lobby-dialog" class="modal hidden">
  <div class="overlay"></div>

  <div class="modal-content">
    <h2 data-translate="online-game">Online Game</h2>

    <button id="createRoomBtn" data-translate="create-room">Create Room</button>

    <input id="roomInput" data-translate="enter-digit" placeholder="Enter 6-digit code" inputmode="numeric"
      maxlength="6" autocomplete="off" />
    <span id="roomStatus" class="room-status"></span>
    <button id="joinRoomBtn" data-translate="join-room" disabled>Join Room</button>
    <button id="closeBtn" data-translate="close">Close</button>
  </div>
  <script type="module" src="../../js/ui/pages-manager/LobbyDialog.js"></script>
</div> 